In [1]:
import pandas as pd

In [9]:
DATASET_PATH = "/Users/diegolopes/Documents/Education/Graduate/MasterDegree/Research/datasets/spider"
PROJECT_PATH = "/Users/diegolopes/Repositories/ms-usp-text-to-sql"

In [10]:
df1 = pd.read_json(f"{DATASET_PATH}/train_others.json")
df2 = pd.read_json(f"{DATASET_PATH}/train_spider.json")

In [11]:
df1 = df1.loc[df1['db_id'] == 'geo'][['question', 'query']]
df2 = df2[['question', 'query']]

df = pd.concat([df1, df2])

df.to_csv(f"{PROJECT_PATH}/data/spider_dataset.csv", index=False)
df1.to_csv(f"{PROJECT_PATH}/data/geo_dataset.csv", index=False)

In [13]:
df.head()

,question,query
0,what is the biggest city in wyoming,SELECT city_name FROM city WHERE population =...
1,what wyoming city has the largest population,SELECT city_name FROM city WHERE population =...
2,what is the largest city in wyoming,SELECT city_name FROM city WHERE population =...
3,where is the most populated area of wyoming,SELECT city_name FROM city WHERE population =...
4,which city in wyoming has the largest population,SELECT city_name FROM city WHERE population =...

In [16]:
df.size

15128

In [19]:
df1.size

1128