In [1]:
import pandas as pd

In [2]:
DATASET_PATH = "/Users/diegolopes/Documents/Education/Graduate/MasterDegree/Research/datasets/spider"
PROJECT_PATH = "/Users/diegolopes/Repositories/ms-usp-text-to-sql"

In [25]:
df1 = pd.read_json(f"{DATASET_PATH}/train_others.json")
df2 = pd.read_json(f"{DATASET_PATH}/train_spider.json")

df = pd.concat([df1, df2])

In [11]:
df1 = df1.loc[df1['db_id'] == 'geo'][['question', 'query']]
df2 = df2[['question', 'query']]

In [27]:
df[['db_id', 'question', 'query']].head()

,db_id,question,query
0,geo,what is the biggest city in wyoming,SELECT city_name FROM city WHERE population =...
1,geo,what wyoming city has the largest population,SELECT city_name FROM city WHERE population =...
2,geo,what is the largest city in wyoming,SELECT city_name FROM city WHERE population =...
3,geo,where is the most populated area of wyoming,SELECT city_name FROM city WHERE population =...
4,geo,which city in wyoming has the largest population,SELECT city_name FROM city WHERE population =...

In [39]:
df['query'].count()

8659

In [38]:
df.loc[df['db_id'] == 'geo'][['query']].count()

query    564
dtype: int64