In [15]:
import geopandas as geo
from sqlalchemy import create_engine
from shapely.geometry import Polygon, MultiPolygon

In [16]:
files_path = "/Users/diegolopes/Documents/Education/Graduate/MasterDegree/Research/IBGE_layers/malha_municipal/1_Brasil"

engine = create_engine("postgresql://postgres:DoL#7478@localhost/geo_data")

In [17]:
mesorregioes = geo.read_file(f"{files_path}/BR_Mesorregioes_2022/BR_Mesorregioes_2022.shp")
microrregioes = geo.read_file(f"{files_path}/BR_Microrregioes_2022/BR_Microrregioes_2022.shp")
municipios = geo.read_file(f"{files_path}/BR_Municipios_2022/BR_Municipios_2022.shp")
pais = geo.read_file(f"{files_path}/BR_Pais_2022/BR_Pais_2022.shp")
rg_imediatas = geo.read_file(f"{files_path}/BR_RG_Imediatas_2022/BR_RG_Imediatas_2022.shp")
rg_intermediarias = geo.read_file(f"{files_path}/BR_RG_Intermediarias_2022/BR_RG_Intermediarias_2022.shp")
uf = geo.read_file(f"{files_path}/BR_UF_2022/BR_UF_2022.shp")

In [27]:
mesorregioes.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cd_meso   139 non-null    object
 1   nm_meso   139 non-null    object
 2   sigla_uf  139 non-null    object
 3   area_km2  139 non-null    float64
 4   geometry  139 non-null    geometry
dtypes: float64(1), geometry(1), object(3)
memory usage: 5.6+ KB

In [19]:
microrregioes.head()

,CD_MICRO,NM_MICRO,SIGLA_UF,AREA_KM2,geometry
0,11001,Porto Velho,RO,65658.650,"POLYGON ((-63.5243 -10.24964, -63.52192 -10.25..."
1,11002,Guajará-Mirim,RO,40792.646,"POLYGON ((-63.68476 -12.45306, -63.68567 -12.4..."
2,11003,Ariquemes,RO,24333.565,"POLYGON ((-62.67077 -10.28778, -62.69302 -10.3..."
3,11004,Ji-Paraná,RO,25090.399,"POLYGON ((-62.15923 -11.06775, -62.16103 -11.0..."
4,11005,Alvorada D'Oeste,RO,15965.819,"POLYGON ((-63.19546 -11.10339, -63.19459 -11.1..."

In [20]:
municipios.head()

,CD_MUN,NM_MUN,SIGLA_UF,AREA_KM2,geometry
0,1100015,Alta Floresta D'Oeste,RO,7067.127,"POLYGON ((-62.00806 -12.13379, -62.00784 -12.2..."
1,1100023,Ariquemes,RO,4426.571,"POLYGON ((-63.17933 -10.13924, -63.17746 -10.1..."
2,1100031,Cabixi,RO,1314.352,"POLYGON ((-60.52408 -13.32137, -60.37162 -13.3..."
3,1100049,Cacoal,RO,3793.000,"POLYGON ((-61.35502 -11.50452, -61.35524 -11.5..."
4,1100056,Cerejeiras,RO,2783.300,"POLYGON ((-60.82135 -13.1191, -60.81773 -13.12..."

In [35]:
pais.head()

  NM_PAIS     AREA_KM2                                           geometry
0  Brasil  8510417.771  MULTIPOLYGON (((-41.82601 -2.75727, -41.82171 ...

In [36]:
rg_imediatas.head()

,CD_RGI,NM_RGI,SIGLA_UF,AREA_KM2,geometry
0,110001,Porto Velho,RO,79943.767,"POLYGON ((-65.3815 -10.42907, -65.38013 -10.42..."
1,110002,Ariquemes,RO,23260.950,"POLYGON ((-63.09956 -9.48078, -63.06119 -9.471..."
2,110003,Jaru,RO,21853.300,"POLYGON ((-62.42317 -9.80583, -62.42287 -9.804..."
3,110004,Ji-Paraná,RO,45080.055,"POLYGON ((-62.52526 -10.70947, -62.49998 -10.6..."
4,110005,Cacoal,RO,36166.460,"POLYGON ((-61.7423 -11.33348, -61.74303 -11.33..."

In [37]:
rg_intermediarias.head()

,CD_RGINT,NM_RGINT,SIGLA_UF,AREA_KM2,geometry
0,1101,Porto Velho,RO,125058.017,"POLYGON ((-61.95442 -9.94968, -61.95552 -9.950..."
1,1102,Ji-Paraná,RO,112696.154,"POLYGON ((-60.91898 -13.54833, -60.91651 -13.5..."
2,1201,Rio Branco,AC,78721.076,"POLYGON ((-67.97684 -9.35273, -67.88121 -9.396..."
3,1202,Cruzeiro do Sul,AC,85452.353,"POLYGON ((-73.12803 -8.77124, -73.12998 -8.769..."
4,1301,Manaus,AM,566706.115,"POLYGON ((-61.29357 -4.71189, -61.3086 -4.7493..."

In [38]:
uf.head()

,CD_UF,NM_UF,SIGLA_UF,NM_REGIAO,AREA_KM2,geometry
0,12,Acre,AC,Norte,164173.429,"POLYGON ((-68.79282 -10.99957, -68.79367 -10.9..."
1,13,Amazonas,AM,Norte,1559255.881,"POLYGON ((-56.76292 -3.23221, -56.76789 -3.242..."
2,15,Pará,PA,Norte,1245870.704,"MULTIPOLYGON (((-48.97548 -0.19834, -48.97487 ..."
3,16,Amapá,AP,Norte,142470.762,"MULTIPOLYGON (((-51.04561 -0.05088, -51.05422 ..."
4,17,Tocantins,TO,Norte,277423.627,"POLYGON ((-48.2483 -13.19239, -48.24844 -13.19..."

In [51]:
files_path = "/Users/diegolopes/Documents/Education/Graduate/MasterDegree/Research/IBGE_layers/malha_setores_censitários"

distritos = geo.read_file(f"{files_path}/BR_Malha_Preliminar_Distrito_2022/BR_Malha_Preliminar_Distrito_2022.shp")
subdistritos = geo.read_file(f"{files_path}/BR_Malha_Preliminar_Subdistrito_2022/BR_Malha_Preliminar_Subdistrito_2022.shp")
setores_censitarios = geo.read_file(f"{files_path}/BR_Malha_Preliminar_2022/BR_Malha_Preliminar_2022.shp")

In [42]:
distritos.head()

,CD_REGIAO,NM_REGIAO,CD_UF,NM_UF,CD_MUN,NM_MUN,CD_DIST,NM_DIST,geometry
0,1,Norte,11,Rondônia,1100015,Alta Floresta D'Oeste,110001505,Alta Floresta D'Oeste,"POLYGON ((-61.93075 -11.97349, -61.93234 -11.9..."
1,1,Norte,11,Rondônia,1100015,Alta Floresta D'Oeste,110001515,Filadélfia d'Oeste,"POLYGON ((-62.06668 -12.26935, -62.01564 -12.2..."
2,1,Norte,11,Rondônia,1100015,Alta Floresta D'Oeste,110001520,Izidolândia,"POLYGON ((-62.17675 -12.5004, -62.14396 -12.50..."
3,1,Norte,11,Rondônia,1100015,Alta Floresta D'Oeste,110001525,Nova Gease d'Oeste,"POLYGON ((-62.4531 -11.96851, -62.453 -11.9684..."
4,1,Norte,11,Rondônia,1100015,Alta Floresta D'Oeste,110001530,Rolim de Moura do Guaporé,"POLYGON ((-62.50026 -12.88076, -62.49918 -12.8..."

In [44]:
subdistritos.head()

,CD_REGIAO,NM_REGIAO,CD_UF,NM_UF,CD_MUN,NM_MUN,CD_DIST,NM_DIST,CD_SUBDIST,NM_SUBDIST,geometry
0,1,Norte,11,Rondônia,1100015,Alta Floresta D'Oeste,110001505,Alta Floresta D'Oeste,11000150500,None,"POLYGON ((-61.93075 -11.97349, -61.93234 -11.9..."
1,1,Norte,11,Rondônia,1100015,Alta Floresta D'Oeste,110001515,Filadélfia d'Oeste,11000151500,None,"POLYGON ((-62.06668 -12.26935, -62.01564 -12.2..."
2,1,Norte,11,Rondônia,1100015,Alta Floresta D'Oeste,110001520,Izidolândia,11000152000,None,"POLYGON ((-62.17675 -12.5004, -62.14396 -12.50..."
3,1,Norte,11,Rondônia,1100015,Alta Floresta D'Oeste,110001525,Nova Gease d'Oeste,11000152500,None,"POLYGON ((-62.4531 -11.96851, -62.453 -11.9684..."
4,1,Norte,11,Rondônia,1100015,Alta Floresta D'Oeste,110001530,Rolim de Moura do Guaporé,11000153000,None,"POLYGON ((-62.50026 -12.88076, -62.49918 -12.8..."

In [61]:
setores_censitarios.head()

,CD_SETOR,AREA_KM2,CD_REGIAO,NM_REGIAO,CD_UF,NM_UF,CD_MUN,NM_MUN,CD_DIST,NM_DIST,CD_SUBDIST,NM_SUBDIST,CD_MICRO,NM_MICRO,CD_MESO,NM_MESO,CD_RGI,NM_RGI,CD_RGINT,NM_RGINT,CD_CONCURB,NM_CONCURB,geometry
0,110001505000001P,0.425739,1,Norte,11,Rondônia,1100015,Alta Floresta D'Oeste,110001505,Alta Floresta D'Oeste,11000150500,None,11006,Cacoal,1102,Leste Rondoniense,110005,Cacoal,1102,Ji-Paraná,None,None,"POLYGON ((-61.9989 -11.93178, -61.99887 -11.93..."
1,110001505000002P,0.539305,1,Norte,11,Rondônia,1100015,Alta Floresta D'Oeste,110001505,Alta Floresta D'Oeste,11000150500,None,11006,Cacoal,1102,Leste Rondoniense,110005,Cacoal,1102,Ji-Paraná,None,None,"POLYGON ((-61.99996 -11.94202, -62.0057 -11.94..."
2,110001505000003P,0.236220,1,Norte,11,Rondônia,1100015,Alta Floresta D'Oeste,110001505,Alta Floresta D'Oeste,11000150500,None,11006,Cacoal,1102,Leste Rondoniense,110005,Cacoal,1102,Ji-Paraná,None,None,"POLYGON ((-62.00377 -11.9294, -62.00375 -11.92..."
3,110001505000004P,0.211866,1,Norte,11,Rondônia,1100015,Alta Floresta D'Oeste,110001505,Alta Floresta D'Oeste,11000150500,None,11006,Cacoal,1102,Leste Rondoniense,110005,Cacoal,1102,Ji-Paraná,None,None,"POLYGON ((-61.99902 -11.92686, -61.99901 -11.9..."
4,110001505000005P,0.806025,1,Norte,11,Rondônia,1100015,Alta Floresta D'Oeste,110001505,Alta Floresta D'Oeste,11000150500,None,11006,Cacoal,1102,Leste Rondoniense,110005,Cacoal,1102,Ji-Paraná,None,None,"POLYGON ((-62.00653 -11.91785, -62.00645 -11.9..."

In [22]:
mesorregioes.columns = map(str.lower, mesorregioes.columns)
mesorregioes

,cd_meso,nm_meso,sigla_uf,area_km2,geometry
0,1101,Madeira-Guaporé,RO,106451.296,"POLYGON ((-63.68476 -12.45306, -63.68567 -12.4..."
1,1102,Leste Rondoniense,RO,131302.876,"POLYGON ((-62.41771 -13.11894, -62.41902 -13.1..."
2,1201,Vale do Juruá,AC,85452.353,"POLYGON ((-73.12803 -8.77124, -73.12998 -8.769..."
3,1202,Vale do Acre,AC,78721.076,"POLYGON ((-67.97684 -9.35273, -67.88121 -9.396..."
4,1301,Norte Amazonense,AM,404888.525,"POLYGON ((-66.00136 -2.14483, -66.01132 -2.141..."
...,...,...,...,...,...
134,5202,Norte Goiano,GO,56552.909,"POLYGON ((-49.03986 -14.57668, -49.04007 -14.5..."
135,5203,Centro Goiano,GO,40843.444,"POLYGON ((-49.68724 -16.67096, -49.68746 -16.6..."
136,5204,Leste Goiano,GO,55562.498,"POLYGON ((-46.88258 -15.61008, -46.87765 -15.6..."
137,5205,Sul Goiano,GO,131599.533,"POLYGON ((-48.027 -18.43606, -48.02721 -18.435..."
138,5301,Distrito Federal,DF,5760.784,"POLYGON ((-48.01472 -16.04996, -48.01573 -16.0..."

In [30]:
mesorregioes.to_postgis("mesorregiao_teste", engine, if_exists="append", index=False)

In [12]:
print(mesorregioes.crs)

EPSG:4674